@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    scroll-behavior: smooth;
  }

  .wrapperGen {
    @apply py-64 px-[2.5rem] md:px-64 md:py-80 vlg:px-80 vlg:py-144;
  }
  .wrapperPadding {
    @apply py-64 md:py-80 vlg:py-144;
  }

  .box1 {
    transform: rotate(-45deg) translateY(0px);
    transform-origin: right;
    transition: all 0.5s 0.2s;
  }
  .no_box1 {
    transform: rotate(0) translateY(0);
    transform-origin: right;
    transition: all 0.5s;
  }

  .box2 {
    width: 0%;
    transform-origin: left;
    opacity: 0;
    transition: all 0.5s;
  }

  .no_box2 {
    width: 100%;
    transform-origin: left;
    transition: all 0.5s 0.2s;
    opacity: 1;
  }

  .box3 {
    transform: rotate(45deg) translate(0px, -9px);
    transition: all 0.5s 0.2s;
  }
  .no_box3 {
    transform: rotate(0deg) translate(0, 0);
    transition: all 0.5s 0.1s;
  }

  .color {
    color: #00000067;
    color: #ffffff80;
  }

  .lmao {
    background: radial-gradient(
      circle farthest-corner at 50% 50%,
      hsla(0, 0%, 100%, 0.04),
      hsla(0, 0%, 100%, 0)
    );
  }

  @media screen and (hover: hover) {
    .animate-card img {
      transform: scale(1);
      transition: transform 1s;
    }

    .animate-card:hover img {
      transform: scale(1.03);
      transition: transform 1s;
    }
  }
}
