@tailwind base;
@tailwind components;
@tailwind utilities;

.box1 {
  transform: rotate(-45deg) translateY(0px);
  transform-origin: right;
  transition: all 0.5s 0.2s;
}
.no_box1 {
  transform: rotate(0) translateY(0);
  transform-origin: right;
  transition: all 0.5s;
}

.box2 {
  width: 0%;
  transform-origin: left;
  opacity: 0;
  transition: all 0.5s;
}

.no_box2 {
  width: 100%;
  transform-origin: left;
  transition: all 0.5s 0.2s;
  opacity: 1;
}

.box3 {
  transform: rotate(45deg) translate(0px, -9px);
  transition: all 0.5s 0.2s;
}
.no_box3 {
  transform: rotate(0deg) translate(0, 0);
  transition: all 0.5s 0.1s;
}


.color {
  color: #0a0a09d9;
}